@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'food_wookolos';
  src: url('/fonts/food_wookolos/FoodsWokolisRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NewSpiritRegular';
  src: url('/fonts/new_spirit/regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'NewSpiritMedium';
  src: url('/fonts/new_spirit/medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NewSpiritBold';
  src: url('/fonts/new_spirit/bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'NewSpiritHeavy';
  src: url('/fonts/new_spirit/heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}


label{
  @apply text-[0.75rem] font-inter text-black-900 tracking-[-0.01125rem] leading-[1.125rem];
}



.react-multi-carousel-item  {
 margin: 0rem !important;
 height: auto !important;
 width: 100% !important;
 margin-right: -0.7rem  !important;
 margin-left: -0.7rem  !important;

}


.react-multiple-carousel__arrow--right{
  margin-top: 6rem !important;
  margin-right: -2rem !important;
}
.react-multiple-carousel__arrow--left  {
  margin-top: 6rem !important;
  margin-left: -2rem !important;
}
.react-multi-carousel-list, .react-multi-carousel-track {
  align-items: stretch !important;
}

.marquee {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}
.stroke_text{
-webkit-text-stroke-width: 2;
-webkit-text-stroke-color: var(--Primary-1, #FE7E00);
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 3rem */
letter-spacing: -0.03rem;



}

.error_text {
  @apply font-inter text-sm text-red-400;
}
.marquee-slide {
  display: flex;
  animation: 35s slide infinite linear;
}
.marquee-wrapper {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  gap: 4rem;
}



@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}



body{
  overflow-x: hidden !important;;
}

label{
  font-weight: bold;
  margin-left: 0.3rem;
}